langchain
langchain-community
langchain-core
langchain-text-splitters

langchain-huggingface

langchain-qdrant

qdrant-client

sentence-transformers

transformers

torch

pypdf

python-docx

unstructured

markdown

pandas

fastapi

uvicorn

python-multipart

python-dotenv

tqdm

rank-bm25

FlagEmbedding

langsmith

langfuse

ragas

deepeval

openai

groq

tiktoken